/* pas hieronder in de styles alles aan wat je anders wilt hebben dan de standaard opmaak van de Antilopen site	*/
/* soms is het ook handig om gewoon regels te verwijderen                        				*/
/* maar om alle ID's en classes te kunnen gebruiken, maak een kopie van dit bestand voor documentatie		*/


    body, td, th	/* basisopmaak: lettertype, kleur etc. */
{
	background: none;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-align: inherit;
	color: inherit;
	text-decoration: inherrit;
	scrollbar-3dlight-color: ##FFFF00;
	scrollbar-arrow-color: #FFEEEE;
	scrollbar-base-color: ##FFFF00;
	scrollbar-darkshadow-color: ##FFFF00;
	scrollbar-face-color: #FF0000;
	scrollbar-highlight-color: ##FFFF00;
	scrollbar-shadow-color: ##FFFF00; 
}

body	/* opmaak pagina: kleur etc. */
{
	color: inherit;
	background-color: inherit;
	margin-left: inherit;
	margin-right: inherit;
	margin-top: inherit;
}

a	/* opmaak hyperlinks: kleur etc. */
{
    color: inherit;
    text-decoration: none;
}

b	/* opmaak vetgedrukt: kleur etc. */
{
}

#Titel	/* opmaak koptekst van de pagina */
{
	text-align: left;
	color: inherit;
	font-size: 14pt;
	font-variant: inherit;
	letter-spacing: 1pt;
	font-weight: bold;
	margin-bottom: 0px;
}

#a	/* samenvatting bovenaan pagina met aantallen wedstrijden */
{
	text-align: right;
	margin-bottom: 0px;
	font-style: italic;
}

#vjnj	/* opmaak aanduiding (voorjaar) of (najaar) in klassenamen */
{
 	font-size: 10px;
}

#tblijst     	/* opmaak tabellen: breedte en rood randje */
{
	width: 50%;
	border-color: red;
	margin-top: 0px;
	margin-left : 2px;
}

#tbkop	/* opmaak koptekst van tabel (klassenamen, speelweek) */
{
	width: 100%;
	border:0;
	padding-bottom: 0px;
	margin-top: 15px;
	margin-left: 0px;
}

#tbkopr	/* opmaak koptekst van tabel (klassenamen, speelweek) */
{}

#tbkopc, #tbkopc a	/* opmaak cel koptekst van tabel (klassenamen, speelweek) */
{
	font-size: inherit;
	font-weight: bold;
	font-variant: inherit;
	letter-spacing: 1pt;
	color: inherit;
}

#tbkopd, #tbkopd a	/* tussenkopjes (klassenamen) van pagina's met programma/uitslagen per poule */
{
	font-size: 12pt;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 1pt;
	color: #FF0000;
	margin-bottom: 25px;
}
    
    /* opmaak pagina Uitslagen */
#Utblijst     	/* opmaak tabel: breedte en rood randje */
{
	width: 50%;
	border-color: red;
	margin-top: 0px;
	margin-left : 2px;
}

#UT	/* opmaak cel thuisteam */
{
	width: 35%;
	white-space: nowrap;
}

#UG	/* opmaak cel uitteam */
{
	width: 35%;
	white-space: nowrap;
}

#UU	/* opmaak cel uitslag */
{
	width: 25%;
	white-space: nowrap;
	text-align: right;
}
    
    /* opmaak pagina Programma */

#Ptblijst     	/* opmaak tabel: breedte en rood randje */
{
	width: 90%;
	border-color: red;
	margin-top: 0px;
	margin-left : 2px;
}

#PD	/* opmaak cel Datum */
{
	width: 12%;
	white-space: nowrap;
}

#PW	/* opmaak cel Wedstrijd */
{
	width: 33%;
	white-space: nowrap;
}

#PL	/* opmaak cel Locatie */
{
	width: 25%;
	white-space: nowrap;
}

#PS	/* opmaak cel Scheidsrechter */
{
	width: 20%;
	white-space: nowrap;
}

    
    /* opmaak pagina Indeling */

#Itblijst     	/* opmaak tabel: breedte en rood randje */
{
	width: 40%;
	border-color: red;
	margin-top: 0px;
	margin-left : 2px;
}

#Ipos   /* opmaak cel positie */
{
	width: 5%;
	white-space: nowrap;
}

#Iteam  /* opmaak cel team */
{
	width: 40%;
	white-space: nowrap;
}

#Iplaats 	/* opmaak cel plaats */
{
	width: 55%;
	white-space: nowrap;
}

#Itbr	/* opmaak rij */
{
}

#ICL	/* opmaak regel geselecteerde club */
{
	background-color: #E7E7FF; 
	font-weight: bold;
}

    
    /* opmaak pagina Standen */

#Stblijst     	/* opmaak tabel: breedte en rood randje */
{
	width: 60%;
	border-color: red;
	margin-top: 0px;
	margin-left : 2px;
}

#SP 		/*  breedte kolom positienummer  */
{
    width: 3%;
}

#ST         	/* opmaak cel team */
{
	width: 40%;
	white-space: nowrap;
}

#SR 	/* breedte kolommen aantalwedstrijden etc */
{
	width: 6%;
	white-space: nowrap;
	text-align: right;
}

#SR2 	/* breedte kolommen doelpunten */
{
	width: 9%;
	white-space: nowrap;
	text-align: right;
}

#SCL, #SCL a, #SCL td	/* opmaak regel gekozen club */
{
	font-weight: bold;
}

#SO
{
  font-size: xx-small;
}

#SX
{
  font-size: xx-small;
}


.promotie 		/* achtergrond regel promotieplaatsen */
{ background-color: #f6f6f6; }
.degradatie 	/* achtergrond regel degradatieplaatsen */
{ background-color: #f6f6f6; }
.kampioen 		/* achtergrond regel kampioen */
{ background-color: #E0E0E0; font-weight: bold; }
.gedegradeerd 	/* achtergrond regel degradant */
{ background-color: #E0E0E0; font-weight: bold; }

    
    /* opmaak pagina Kruistabellen */

#Ktblijst     	/* opmaak tabel: breedte en rood randje */
{
	width: 100%;
	border-color: red;
	margin-top: 0px;
	margin-left : 2px;
}


#Ktb, #Ktbs 	/* opmaak tabel */
{
	border-color: red;
	margin-top: 0px;
	margin-left : 2px;
}
#Ktb 	/* breedte tabel meer dan 4 teams */
{
}
#Ktbs 	/* breedte tabel minder dan 5 teams */
{
}

#KCL    /* achtergrond regel geselcteerde club */
{
	background-color: #E7E7FF;
	font-weight: bold;
}

#kruis 		/* standaard cel */
      { text-align: center; white-space: nowrap; }
#kruis1 		/* achtergrond cel gekozen club */
      { color: #000000; text-align: Center; font-weight: bold; background-color: #FFFF00; }
#kruis2 		/* achtergrond en opmaak cel bovenste regel clubnamen */
      { color: #000000; text-align: center; font-weight: bold; white-space: nowrap; width:10%; }
#kruis2s 		/* achtergrond en opmaak cel bovenste regel clubnamen */
      { color: #000000; text-align: center; font-weight: bold; white-space: nowrap; width:16%; }
#kruis3 		/* achtergrond en opmaak cel eerste kolom clubnamen */
      { color: #000000; font-weight: bold; white-space: nowrap; width:20%; }
#kruis3s 		/* achtergrond en opmaak cel eerste kolom clubnamen */
      { color: #000000; font-weight: bold; white-space: nowrap; width:32%; }
#kruis4 		/* achtergrond cel gekozen club */
      { text-align: center; font-weight: bold; background-color: #eeeeee; white-space: nowrap; width:10%; }
#kruis4s 		/* achtergrond cel gekozen club */
      { text-align: center; font-weight: bold; background-color: #eeeeee; white-space: nowrap; width:16%; }
#kruis5 		/* achtergrond gekozen club */
      { color: #FF0000; font-weight: bold; background-color: #eeeeee; white-space: nowrap; }
#kruis6 		/* achtergrond regel gekozen club */
      { color: #FF0000; font-weight: bold; background-color: #eeeeee }
#kruisleeg 		/* achtergrond cel zonder inhoud (kruisregel) */
   { background-color: #AAAAAA }
#kruisT {color: #999999}

    
    /* opmaak pagina Kampioenen */

#Kptblijst     	/* opmaak tabel: breedte en rood randje */
{
	width: 70%;
	border-color: red;
	margin-top: 0px;
	margin-left : 2px;
}

#KpT         	/* opmaak cel team */
{
	width: 40%;
	white-space: nowrap;
}

#KpR 	/* breedte kolommen aantalwedstrijden etc */
{
	width: 6%;
	white-space: nowrap;
	text-align: right;
}

#KpR2 	/* breedte kolommen */
{
	width: 9%;
	white-space: nowrap;
	text-align: right;
}
    
